<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/query.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sofia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Sofia&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <header>
        <section class="navbar">
            <div class="logo"><img src="/assets/logo.png" alt="logo"></div>
            <div class="nav">
                <button id="butt"><img src="/assets/menu-burger.png" alt="menu" id="img-bur"></button>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Projets</a></li>
                    <li><a href="#">Competences</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </section>
       <div class="backvei">
        <video autoplay muted loop play-inline>
            <source src="/assets/background.mp4" type="video/mp4">
        </video>
       </div>
       <div class="burger-content"  id="burger-content-id">
        <ol>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Competences</a></li>
            <li><a href="#">Contact</a></li>
        </ol>
    </div >
       <h1 >Hicham El Hmaydi</h1>
       <br>
       <h2 >Développeur Web Full-Stack</h2>
    </header>
    <main>
        <section class="Introduction">
            <div class="profil" data-aos="fade-up">
                <img src="/assets/profil.jpg" >
            </div>
            <div class="description" data-aos="fade-left">
                <h3>description :</h3>
                <h4>
                    Je m'appelle Hicham. J'ai 20 ans et je suis apprenant en Youcode. J'ai une passion pour la technologie et j'aime tout le numérique. Mon plus grand objectif est de devenir  développeur full-stack web
                </h4>
            </div>
        </section>
        <section class="projects">
            <h2>Mes Projets :</h2>
            <div class="project1" data-aos="fade-up">
                <p>
                    <span><img src="/assets/one.png" alt="one"></span> <br> c'est un projet d'un site qui nomme creative studio et pour moi je fait des modification sur ce site 
                </p>
                <div class="project1-img">
                    <img src="/assets/Screenshot1.png" alt="Screenshot pour le site web">
                    <img src="/assets/Screenshot 2.png" alt="Screenshot pour le site web">
                </div>
            </div>
            <div class="line"><hr></div>
            <div class="project2" data-aos="fade-up">
                <p>
                    <span><img src="/assets/two.png" alt="one"></span> <br> c'est un projet d'un site qui nomme eventick et par ce site tu peut reserve pour les
                 et dans ce projet je utilise : </p>
                <div class="project2-img">
                    <img src="/assets/Screenshot 3.png" alt="Screenshot pour le site web">
                    <img src="/assets/Screenshot 4.png" alt="Screenshot pour le site web">
                    <img src="/assets/Screenshot 5.png" alt="Screenshot pour le site web" class="img-trois-pro2">
                </div>
            </div>
            <div class="line"><hr></div>
            <div class="project3" data-aos="fade-up">
                <p>
                    <span><img src="/assets/three.png" alt="one"></span> <br> c'est un projet d'un site qui nomme eventick et par ce site tu peut reserve pour les 
                </p>
                <div class="project3-img">
                    <img src="/assets/Screenshot 6.png" alt="Screenshot pour le site web">
                    <img src="/assets/Screenshot 7.png" alt="Screenshot pour le site web">
                    <img src="/assets/Screenshot 8.png" alt="Screenshot pour le site web" class="img-trois-pro3">
                </div>
            </div>
            <div class="line"><hr></div>
        </section>
        <section class="com-tem">
            <div class="Competences" data-aos="fade-up">
                <h3>mes Competences</h3><br>
                <img src="/assets/html-5.png" alt="html">
                <img src="/assets/css-3.png" alt="css">
                <img src="/assets/gite.png" alt="gite">
                <img src="/assets/tailwind.png" alt="tailwind">
                <img src="/assets/js.png" alt="js" class="js">
            </div>
            <div class="Temoignages" data-aos="fade-up">
                <h3>Temoignages</h3><br>
                <div class="man">
                    <img src="/assets/man.jpg" alt="man">
                    <span>M.Johan Liebert</span>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi magnam,<br> voluptates ipsum veniam ducimus velit ea nobis deleniti ad impedit.
                <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto <br>iste velit deleniti molestiae.</p>
            </div>
        </section>
        <section class="contact">
         <div class="form-cont" data-aos="fade-up">
                <form>
                    <h3>Contact-nous</h3>
                    <input type="text" placeholder="Votre Nom">
                    <input type="text" placeholder="Votre Prénom">
                    <input type="email" placeholder="Votre email">
                    <input type="text" placeholder="Votre message ...." ><br>
                    <button type="submit">Submit</button>
                </form> 
             <div class="my-info" data-aos="fade-up">
                    <h3>Mon-information</h3>
                    <img src="/assets/phone.png" alt="phone"><span class="info">07 74 69 63 70</span>
                    <br>
                    <img src="/assets/email.png" alt="phone"><span class="info">ct1594065@gmail.com</span>
             </div>
         </div>
        </section>
    </main>
    <footer>
        <p>"Thanks for scrolling"</p><br>
        <div class="social-med">
            <a href="#"> <img src="/assets/instagram.png" alt="instagram"></a>
           <a href="#"><img src="/assets/twitter.png" alt="twitter"></a>
            <a href="#"><img src="/assets/linkedin.png" alt="linkedin"></a>
         </div>
    </footer>
    <script src="/js/java.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>