<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/query.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sofia&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Sofia&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="navbar">
            <div class="logo"><img src="/assets/logo.png" alt="logo"></div>
            <div class="nav">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Projets</a></li>
                    <li><a href="#">Competences</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </section>
       <div class="backvei">
        <video autoplay muted loop play-inline>
            <source src="/assets/background.mp4" type="video/mp4">
        </video>
       </div>
       <h1>Hicham El Hmaydi</h1>
       <br>
       <h2>Développeur Web Full-Stack</h2>
    </header>
    <main>
        <section class="Introduction">
            <div class="profil">
                <img src="/assets/profil.jpg" alt="profil">
            </div>
            <div class="description">
                <h3>description :</h3>
                <h4>
                    Je m'appelle Hicham. J'ai 20 ans et je suis apprenant en Youcode. J'ai une passion pour la technologie et j'aime tout le numérique. Mon plus grand objectif est de devenir  développeur full-stack web
                </h4>
            </div>
        </section>
        <section class="projects">
            <h2>Mes Projets :</h2>
            <div class="project1">

            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>